$breakpoint-sm: 540px;
$breakpoint-md: 660px;
$breakpoint-lg: 717px;

@mixin x-small {
  @media (max-width: #{$breakpoint-sm - 1px}) {
    @content;
  }
}

@mixin sm-md-xl {
  @media (min-width: #{$breakpoint-sm + 1px}) {
    @content;
  }
}

@mixin large {
  @media (width: #{$breakpoint-sm}) {
    @content;
  }
}

// @import "css-reset";
@import "colors";

#quiz {
  @import "type";

  max-width: 660px;
  margin-bottom: 25px;
  font-family: $font-stack;
  font-size: 18px;

  b {
    font-weight: 600;
  }

  span.highlight {
    color: $green-primary;
  }

  h2 {
    min-width: auto;
    font-size: 24px;
    line-height: 34px;
    margin: 24px 0;
    font-weight: 700;
    color: #363f41;
    @include sm-md-xl {
      font-size: 30px;
    }
  }

  .result-image {
    width: 100%;
    max-width: 400px;
  }

  .select-all {
    display: flex;
    flex-wrap: wrap;
    & input {
      position: absolute !important;
      clip: rect(0, 0, 0, 0);
      height: 1px;
      width: 1px;
      border: 0;
      overflow: hidden;
      &:checked + label {
        background-color: $green-primary;
        box-shadow: none;
        color: white;
        background-image: url(https://fm.cnbc.com/applications/cnbc.com/resources/files/2019/12/03/check.png);
        &:nth-child(4n+4) {
          background-color: $green-secondary-4;
        }
      }
    }
    & label {
      background-image: url(https://fm.cnbc.com/applications/cnbc.com/resources/files/2019/12/03/blank-check.png);
      background-repeat: no-repeat;
      background-size: 18px;
      background-position: 5px center;
      color: $slate-secondary-5;
      font-size: 16px;
      line-height: 1.2;
      font-weight: 500;
      // letter-spacing: .7px;
      padding: 16px 8px 12px 30px;
      margin-right: 10px;
      transition: all 0.2s ease-in-out;
      width: 100%;
      &:nth-child(4n+4) {
        background-color: $slate-secondary-2;
      }
      &:hover {
        cursor: pointer;
      }
      @include x-small {
        padding: 12px 16px 12px 30px;
      }
    }
  }

  & #rideshare-follow, #assistant-follow {
    margin-bottom: 40px;
    & input {
      position: absolute !important;
      clip: rect(0, 0, 0, 0);
      height: 1px;
      width: 1px;
      border: 0;
      overflow: hidden;
      &:checked + label {
        background-color: $green-primary;
        box-shadow: none;
        color: white;
        background-image: url(https://fm.cnbc.com/applications/cnbc.com/resources/files/2019/12/03/check.png);
      }
    }
    & label {
      background-color: white;
      background-image: url(https://fm.cnbc.com/applications/cnbc.com/resources/files/2019/12/03/blank-check.png);
      background-repeat: no-repeat;
      background-size: 18px;
      background-position: 5px center;
      color: $slate-secondary-5;
      font-size: 16px;
      line-height: 1;
      font-weight: 500;
      letter-spacing: .7px;
      text-transform: uppercase;
      padding: 8px 16px 6px 30px;
      margin-right: 10px;
      border: 2px solid $green-primary;
      transition: all 0.2s ease-in-out;
      &:hover {
        cursor: pointer;
      }
      @include x-small {
        padding: 12px 16px 12px 30px;
      }
    }
    &.growth-radio label {
      min-width: 137px;
      @include x-small {
        width: 100%;
        margin-bottom: 10px;
      }
    }
  }

  & button.submit {
    margin-top: 15px;
    color: $green-secondary-4;
    font-size: 16px;
    line-height: 1;
    font-weight: 500;
    letter-spacing: .7px;
    text-transform: uppercase;
    padding: 8px 16px 8px 16px;
    border: 2px solid $green-primary;
    transition: all 0.2s ease-in-out;
    &:hover {
      cursor: pointer;
      color: #fff;
      background-color: $green-primary;
    }
    @include x-small {
      padding: 12px 16px 12px 30px;
    }
  }

  & a {
    color: $green-primary;
    text-decoration: none;
  }

  .fade-enter-active, .fade-leave-active {
    transition: opacity .3s ease;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }
  
}