$breakpoint-sm: 540px;
$breakpoint-md: 660px;
$breakpoint-lg: 717px;

@mixin x-small {
  @media (max-width: #{$breakpoint-sm - 1px}) {
    @content;
  }
}

@mixin sm-md-xl {
  @media (min-width: #{$breakpoint-sm + 1px}) {
    @content;
  }
}

@mixin large {
  @media (width: #{$breakpoint-sm}) {
    @content;
  }
}

// @import "css-reset";
@import "colors";

#calculator {
  @import "type";

  max-width: 660px;
  margin-bottom: 25px;
  font-family: $font-stack;
  font-size: 18px;
  &#calculator {
    background-image: none;
  }

  b {
    font-weight: 600;
  }

  h2 {
    margin-left: 0;
    margin-right: 15px;
    min-width: auto;
    font-size: 24px;
    line-height: 34px;
    margin: 8px 0 24px;
    font-weight: 700;
    color: #363f41;
    @include sm-md-xl {
      font-size: 30px;
    }
  }

  .calc-subhead {
    color: $slate-secondary-6;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 24px;
    border-top: 5px solid $green-primary;
    padding-top: 15px;
    margin-top: 50px;
  }

  .calc-input {
    margin-bottom: 40px;
    & label {
      display: block;
      font-weight: 600;
      font-size: 16px;
      margin-bottom: 15px;
      color: $slate-primary;
    }
    & input {
      border: 1px solid $slate-secondary-3;
      font-size: 24px;
      color: $green-primary;
      font-weight: 600;
      padding: 5px;
      width: 100px;
    }
    &.money-input {
      &:after {
        content: '$';
        position: relative;
        top: -2px;
        left: -150px;
        height: 20px;
        width: 10px;
        z-index: 999;
        color: $slate-secondary-3;
      }
      & input {
        padding-left: 25px;
        width: 130px;
      }
    }
  }

  .calc-input-radio {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
    & input {
      position: absolute !important;
      clip: rect(0, 0, 0, 0);
      height: 1px;
      width: 1px;
      border: 0;
      overflow: hidden;
      &:checked + label {
        background-color: $green-primary;
        box-shadow: none;
        color: white;
        background-image: url(https://fm.cnbc.com/applications/cnbc.com/resources/files/2019/12/03/check.png);
      }
    }
    & label {
      background-color: white;
      background-image: url(https://fm.cnbc.com/applications/cnbc.com/resources/files/2019/12/03/blank-check.png);
      background-repeat: no-repeat;
      background-size: 18px;
      background-position: 5px center;
      color: $slate-secondary-5;
      font-size: 16px;
      line-height: 1;
      font-weight: 500;
      letter-spacing: .7px;
      text-transform: uppercase;
      padding: 8px 16px 6px 30px;
      margin-right: 10px;
      border: 2px solid $green-primary;
      transition: all 0.2s ease-in-out;
      &:hover {
        cursor: pointer;
      }
      @include x-small {
        padding: 12px 16px 12px 30px;
      }
    }
    &.growth-radio label {
      min-width: 137px;
      @include x-small {
        width: 100%;
        margin-bottom: 10px;
      }
    }
  }

  & a {
    color: $green-primary;
    text-decoration: none;
  }

  & .chart-title-social, & .grow-logo-social {
    display: none;
  }

  & .chart-container {
    width: 100%;
    height: 300px;
    margin-top: -10px;
    @include sm-md-xl {
      height: 400px;
    }
  }

  & .grow-logo {
    width: 214px;
    margin-top: 20px;
  }

  .fade-enter-active, .fade-leave-active {
    transition: opacity .3s ease;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }
  
}

#calculator p {
  margin-top: 0;
  margin-bottom: 16px;
  color: #000;
  line-height: 30px;
  font-weight: 300;
}