<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Graphic preview</title>
  <meta name="description" content="Graphic preview">
  <meta name="author" content="SitePoint">

  <!--build:css css/styles.min.css-->
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
  <link rel="stylesheet" href="css/side-hustle-quiz_styles.css">
  <!--endbuild-->

</head>

<body>

  <div id="quiz">

    <div class="select-all">

        <input type="checkbox" id="steady-income" v-model="steadyIncome">
        <label for="steady-income">I'd like a steady, predictable income.</label>

        <input type="checkbox" id="people-person" v-model="peoplePerson">
        <label for="people-person">I consider myself a people person.</label>

        <input type="checkbox" id="drive" v-model="drive">
        <label for="drive">I can drive for long stretches and keep my focus.</label>

        <input type="checkbox" id="physical-work" v-model="physicalWork">
        <label for="physical-work">I can lift heavy boxes, assemble things, or clean a house.</label>

        <input type="checkbox" id="skilled" v-model="skilled">
        <label for="skilled">I'm skilled in music, sports, math, or another topic, and would love to share my knowledge.</label>

        <input type="checkbox" id="fixing-things" v-model="fixingThings">
        <label for="fixing-things">When someone needs something fixed around the house, they call me.</label>

        <input type="checkbox" id="kids" v-model="kids">
        <label for="kids">I like working with kids.</label>

        <input type="checkbox" id="organized" v-model="organized">
        <label for="organized">I'm highly organized.</label>

        <input type="checkbox" id="comfort-home" v-model="comfortHome">
        <label for="comfort-home">I prefer to work from the comfort of my own home.</label>

        <input type="checkbox" id="loves-dogs" v-model="lovesDogs">
        <label for="loves-dogs">I love dogs of all kinds.</label>

        <input type="checkbox" id="regular-clients" v-model="regularClients">
        <label for="regular-clients">I prefer regular clients I can develop relationships with rather than one-shot deals.</label>

        <input type="checkbox" id="menial-tasks" v-model="menialTasks">
        <label for="menial-tasks">I don't mind doing menial tasks.</label>

        <input type="checkbox" id="social-media" v-model="socialMedia">
        <label for="social-media">I am good at, and enjoy using, social media.</label>

        <input type="checkbox" id="grocery-shopper" v-model="groceryShopper">
        <label for="grocery-shopper">Need something here for grocery shopper.</label>

    </div>

    <button class="submit" v-on:click="calculateResults">submit</button>

    <div class="follow-up-questions">

        <div id="rideshare-follow" v-if="showRideShareQuestion==true">
            <p class="body-text">
                Do you have a 4-door car that can pass a safety inspection?
            </p>
            <input type="radio" id="car-yes" name="car-yes-no" v-model="carYesNo" value="true"></input>
            <label for="car-yes">Yes</label>
            <input type="radio" id="car-no" name="car-yes-no" v-model.number="carYesNo" value="false"></input>
            <label for="car-no">No</label>
        </div>

        <div id="assistant-follow" v-if="showAssistantQuestion==true">
            <p class="body-text">
                Do you have access to a computer to use for work?
            </p>
            <input type="radio" id="computer-yes" name="computer-yes-no" v-model="computerYesNo" value="true"></input>
            <label for="computer-yes">Yes</label>
            <input type="radio" id="computer-no" name="computer-yes-no" v-model.number="computerYesNo" value="false"></input>
            <label for="computer-no">No</label>
        </div>


    </div>

    <div class="results" v-if="showResults==true">
        Result
        <result
            title="Ride-share driver"
            content="This is where the content goes."
        ></result>
    </div>

    <!-- <div class="result">
        {{ calculateResults }}
    </div> -->

  </div>
    
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
  <!--build:js js/main.min.js -->
  <script src="js/side-hustle-quiz_main.js"></script>
  <!-- endbuild -->
</body>
</html>
